@font-face {
    font-family: 'LAB디지털';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
*{
    font-family: 'LAB디지털';
}

li {
    list-style: none;
}

.screen{
    width:100vw;
    height: 100vh;
    line-height: 100vh;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 4px black;
    display: none;
    font-size: 3rem;
}

@media screen and (max-width: 768px), (max-height: 768px) {
    main{
        display: none;
    }
    .screen{
        display: block;
    }
    .screen h1 {
        margin: 0;
    }
}

html, body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
background-color: #2c3e50;
}

header {
    position: fixed;
    top: 0;
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    width: 100vw;
    height: 6vh;
}

.footer-ul {
    display: flex;
}

.footer-ul-li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vw;
    height: 5vh;
}

.footer-datetime {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: default;
    height: 5vh;
    padding-right: 1vw;
    font-weight: bolder;
}

.datetime-extend {
    position: absolute;
    display: none;
    width:30vw;
    height: 50vh;
    background-color: #e4e4e4;
    bottom:6vh;
    right: 0;
    border: 1px solid #b3b3b3;
    border-bottom: none;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    padding: 1vh 1vw;
    cursor: default;
}

.datetime-extend__datetime {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-bottom: 1px solid #b3b3b3;
    margin-bottom: 1.5vh;
}

.datetime-extend__datetime__time {
    font-size: 2.5rem;
}

.datetime-extend__datetime__date {
    color: #558bff;
    font-size: 1.2rem;
}

.datetime-extend__calendar {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.datetime-extend__calendar__title {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
}

.move-buttons {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.move-buttons i {
    cursor: pointer;
}

.datetime-extend__calendar__calendar {
    width: 100%;
    height: 90%;
}

.calendar {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.calendar-item {
    width: calc(100% / 7);
    height: calc(100% / 7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contents{
    text-align: center;
    text-shadow: 5px 5px 0px black;
    color: white;
}

@keyframes neon {
    0%,
    100% {
        text-shadow: 0 0 1vw #1C16FA, 0 0 3vw #1C16FA, 0 0 10vw #1C16FA, 0 0 10vw #1C16FA, 0 0 .4vw #D128FE, .5vw .5vw .1vw #691480;
        color: #ffffff;
    }
    50% {
        text-shadow: 0 0 .5vw #0E0B80, 0 0 1.5vw #0E0B80, 0 0 5vw #0E0B80, 0 0 5vw #0E0B80, 0 0 .2vw #0E0B80, .5vw .5vw .1vw #340A40;
        color: #ffffff;
    }
}

.js-clock>h1{
    font-size: 5vh;
}

.js-weather{
    position: fixed;
    right: -50px;
    font-size: 3vh;
}

.js-form, .js-toDoForm{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.js-form input[type="text"], .js-toDoForm input[type="text"]{
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 25px;
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

input[type="text"]::placeholder{
    text-shadow: 0 0 2px black;
    box-shadow: 0px 3px 4px -4px white;
    color: white;
    opacity: 0.7;
}

.h2{
    display: flex;
    justify-content: center;
}
.h2>h2{
    width: calc(100% / 2 - 200px);
    max-width: 400px;
    margin: 50px 50px 0px 50px;
    padding-right: 20px;
}

.todolist{
    height: 50vh;
    list-style: none;
    display: flex;
    justify-content: center;
}

.Pending, .Finished{
    width: calc(100% / 2 - 200px);
    max-width: 400px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0px 0px 6px white;
    margin: 50px;
    overflow: auto;
    padding-right: 20px;
}

.Pending>li, .Finished>li{
    margin: 5px;
    font-size: 2vw;
    text-align: right;
}

.Pending>li>span, .Finished>li>span{
    font-size: 25px;
    display: block;
    margin-right: 30px;
    word-wrap: break-word;
}

.Pending>li>button, .Finished>li>button{
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.Pending::-webkit-scrollbar, .Finished::-webkit-scrollbar {
    width: 5px; /*스크롤바의 너비*/
}

.Pending::-webkit-scrollbar-thumb, .Finished::-webkit-scrollbar-thumb {
    background-color: transparent; /*스크롤바의 색상*/
    border-radius: 10px;
    background-clip: padding-box;
    box-shadow: inset 0px 0px 5px white;
}

.Pending::-webkit-scrollbar-track, .Finished::-webkit-scrollbar-track {
    background-color: transparent; /*스크롤바 트랙 색상*/
}

.btn {
cursor: pointer;
}
body {
color: #34495e;
}

.clicked {
color: #7f8c8d;
}

.form,
.greetings {
display: none;
}

.showing {
display: block;
}

@keyframes fadeIn {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}

.bgImage {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
width: 100%;
height: 100%;
z-index: -1;
animation: fadeIn 0.5s linear;
background-size: cover;
background-repeat: repeat;
}

.astro:hover{
    opacity: 0.3;
}

.astro1{
    position: absolute;
    left: 0;
    top: 50%;
    width: 5%;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-name: astro1;
}

@keyframes astro1 {
    0%{ transform: translate(-100%, 0) rotate(30deg);}
    100%  { transform: translate(50vw, 500%); }
}

.astro2{
    position: absolute;
    left: 0;
    top: 0;
    width: 5%;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-name: astro2;
}

@keyframes astro2 {
    0%{ transform: translate(-100%, -100%);}
    33%  { transform: translate(50vw, 200%) rotate(30deg); }
    66% {transform: translate(100vw, 0%) rotate(60deg);}
    100% { transform: translate(100vw, 0%);}
}

.astro3{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 5%;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-name: astro3;
}

@keyframes astro3 {
    0%{ transform: translate(-200%, 100%);}
    33%  { transform: translate(-635%, -20%) rotate(80deg); }
    66% {transform: translate(-100vw, 0%) rotate(0deg);}
    100% { transform: translate(-100vw, 0%);}
}

.satellite{
    position: absolute;
    top: 10;
    left: 10%;
    width: 15%;
    transition: width 1s, height 1s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-name: satellite;
}

.satellite:hover{
    width: 20%;
}

@keyframes satellite {
    0%{ transform: translate(0, 0);}
    50%  { transform: translate(5%, 5%) rotate(10deg); }
}

.weather-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.weather-box__img {
    width: 70px;
    height: 70px;
}
  
.weather-box div:nth-child(2) {
    height: 200px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.weather-box span {
    color: white;
    /* font-weight: 700; */
}
  
.weather-box__temp {
    font-size: 70px;
    font-weight: 700;
}

.weather-box__title {
    font-size: 30px;
    font-weight: 700;
    margin-top: 10px;
}

.weather-box__wind {
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}

.weather-box__place {
    font-size: 20px;
    font-weight: 600;
}